<div class="card card-block">
  <h4 class="card-title"><%= link_to plant.name, plant_path(plant) %></h4>
  <p class="card-text"><%= plant.fun_fact %></p>
  <i class="fa fa-info"></i>
  <%= link_to "View Details", plant_path(plant) %>
</div>
