<div class="row">
  <% @plants.each do |plant| %>
      <%= render partial: 'plants/list_plants', locals: {plant: plant} %>
  <% end %>
</div>

<script type="text/javascript">
  function attachListeners() {
    // $('.details').click(function(event) {
    //   event.preventDefault();
    //   var plantId = $(this).attr(data);
    //   var overlay = $('<div id="overlay"> </div>');
    //   overlay.appendTo(document.body);
    // });

  //   $('.card-image').mouseover(function() {
  //     $(this).css('background', 'rgba(0, 0, 0, 0.4)');
  //   });

  //   $('.card-image').mouseout(function() {
  //     $(this).css('background', '');
  //   });
  // }



  $(function() {
    attachListeners();
  });
</script>
