<div class="row" id="plants">
</div>
<div class="row" id="button">
  <button class="btn btn-success">More Plants</button>
</div>


<script type="text/javascript">
  function attachListeners() {
    // $('.details').click(function(event) {
    //   event.preventDefault();
    //   var plantId = $(this).attr(data);
    //   var overlay = $('<div id="overlay"> </div>');
    //   overlay.appendTo(document.body);
    // });

  //   $('.card-image').mouseover(function() {
  //     $(this).css('background', 'rgba(0, 0, 0, 0.4)');
  //   });

  //   $('.card-image').mouseout(function() {
  //     $(this).css('background', '');
  //   });
  }

  function assembleHTML(plantName, plantId) {
    var random = Math.floor(Math.random() * 14) + 1;
    html = '<div class="col-sm-4">';
    html += '<div class="card">';
    html += '<div class="card-image">';
    html += `<img src="/assets/random/${random}.jpg" class="img-responsive">`;

    html += '<span class="card-title">';
    html += `<h3>${plantName}</h3>`;
    html += '</span>';
    html += '</div>';

    html += '<div class="card-action">';
    html += '<i class="fa fa-info"></i>';

    html += `<a href="/plants/${plantId}" class="details">View Details</a>`;
    html += '<i class="fa fa-pencil-square-o text-xs-right"></i>';
    html += `<a href="/plants/${plantId}/tips/new">Leave Tip</a>`;
    html += '</div>';
    html += '</div>';
    html += '</div>';
    $('#plants').append(html);
  }

  function loadInitialPlants() {
    $.get('/plants.json', function(response) {
      for (var i = 0; i < 6; i++) {
        var plant = response[i];
        assembleHTML(plant.name, plant.id);
      }
    });
  }

  $(function() {
    attachListeners();
    loadInitialPlants();
  });
</script>
