<div class="row" id="plants">
</div>
<div class="row" id="button">
  <button class="btn btn-success" id="js-more-plants">More Plants</button>
</div>

<%= render 'layouts/plant_details' %>


<script type="text/javascript">

  function attachListeners() {
    $('#js-more-plants').click(loadPlants);

    $('#plants').on('click', '.details', function(event) {
      event.preventDefault();
      var plantPath = $(this).attr('href');
      var overlay = $('<div id="overlay"> </div>');
      overlay.appendTo(document.body);
      loadPlantDetails(plantPath);
    });

    $('#plants').on('mouseover', '.card-image', function() {
      $(this).css('background', 'rgba(0, 0, 0, 0.4)');
    });

    $('#plants').on('mouseout', '.card-image', function() {
      $(this).css('background', '');
    });

    $('#plant-details').on('click', '#js-next', function() {
      var nextPlant = parseInt($('#js-next').attr('data-id')) + 1;
      $.get('/plants/' + nextPlant + '.json', function(response) {
        updatePlantDetails(response);
      });
    });

    $('#plant-details').on('click', '#js-previous', function() {
      var previousPlant = parseInt($('#js-previous').attr('data-id')) - 1;
      $.get('/plants/' + previousPlant + '.json', function(response) {
        updatePlantDetails(response);
      });
    });
  }

  function assembleHTML(plantName, plantId) {
    var random = Math.floor(Math.random() * 14) + 1;
    html = '<div class="col-sm-4">';
    html += '<div class="card">';
    html += '<div class="card-image">';
    html += `<img src="/assets/random/${random}.jpg" class="img-responsive">`;

    html += '<span class="card-title">';
    html += `<h3>${plantName}</h3>`;

    html += '<i class="fa fa-info"></i>';
    html += `<a href="/plants/${plantId}" class="details">View Details</a>`;
    html += '<i class="fa fa-pencil-square-o text-xs-right"></i>';
    html += `<a href="/plants/${plantId}/tips/new">Leave Tip</a>`;

    html += '</span>';
    html += '</div>';
    html += '</div>';
    html += '</div>';
    $('#plants').append(html);
  }

  function loadPlants() {
    var currentPlants = $('.card').length;
    var endLoad = currentPlants + 6;

    $.get('/plants.json', function(response) {
      for (currentPlants; currentPlants < endLoad; currentPlants++) {
        var plant = response[currentPlants];
        assembleHTML(plant.name, plant.id);
      }
    });
  }

  function loadPlantDetails(plantPath) {
    $('#plant-details').toggle().fadeIn();
    $.get(plantPath + '.json', function(response) {
      $('#plant-name').text(response.name);
      $('.fa-line-chart').text(response.difficulty);
      $('.fa-sun-o').text(response.amount_of_light);
      $('.fa-tint').text(response.amount_of_water);
      $('.fa-clock-o').text(response.frequency_of_water);
      $('#plant-fun-fact').text(response.fun_fact);
      $('#js-next').attr('data-id', response.id);
      $('#js-previous').attr('data-id', response.id);
    });
  }

  function updatePlantDetails(data) {
    $('#plant-name').text(data.name);
    $('.fa-line-chart').text(data.difficulty);
    $('.fa-sun-o').text(data.amount_of_light);
    $('.fa-tint').text(data.amount_of_water);
    $('.fa-clock-o').text(data.frequency_of_water);
    $('#plant-fun-fact').text(data.fun_fact);
    $('#js-next').attr('data-id', data.id);
    $('#js-previous').attr('data-id', data.id);
  }

  $(function() {
    attachListeners();
    loadPlants();
  });
</script>
