<div class="row" id="plants">
</div>

<div class="row" id="button">
  <button class="btn btn-success" id="js-more-plants">More Plants</button>
</div>

<div id="overlay"></div>


<script type="text/javascript">
  $(function() {
    attachPlantListeners();
    attachTipListeners();
    loadPlantCards();
  });
</script>


<!-- Handlebar Templates -->
<script id="plant-card-template" type="text/x-handlebars-template">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-image">
        <img src="/assets/random/{{randomNum}}.jpg" class="img-responsive">
        <span class="card-title">
          <h3>{{name}} • {{plantScore}}</h3>
          <i class="fa fa-info"></i>
          <a href="{{id}}" id="js-load-plant-details">View Details</a>
        </span>
      </div>
    </div>
  </div>
</script>

<script id="plant-details-template" type="text/x-handlebars-template">
  <div class="row" id="plant-details">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">

        <div class="panel-heading">
          <button id="js-previous" class="btn btn-success" data-id="{{idMinus}}">Previous</button>
          <button id="js-next" class="btn btn-success" data-id="{{idPlus}}">Next</button>
          <h1 id="plant-name">{{name}}</h1>
        </div>

        <div class="panel-body">
        </div>

        <div class="panel-heading">
          <h4>Statistics</h4>
        </div>
        <div class="panel-body">
          <div class="col-xs-3">
            <i class="fa fa-line-chart big-icon">{{difficulty}}</i>
          </div>
          <div class="col-xs-3">
            <i class="fa fa-sun-o big-icon">{{amountOfLight}}</i>
          </div>
          <div class="col-xs-3">
            <i class="fa fa-tint big-icon">{{amountOfWater}}</i>
          </div>
          <div class="col-xs-3">
            <i class="fa fa-clock-o big-icon">{{frequencyOfWater}}</i>
          </div>
        </div>

        <div class="panel-heading">
          <h4>Fun Fact</h4>
        </div>
        <div class="panel-body" id="plant-fun-fact">
          {{funFact}}
        </div>

        <div class="panel-heading">
          <i class="fa fa-pencil-square-o text-xs-right"></i>
          <a href="#" id="js-add-tip">Leave a Tip</a>
        </div>
        <div class="panel-body hide" id="add-tip">

        </div>
        <div class="panel-body" id="plant-tips">
          {{#each tips}}
            <blockquote>
              <p>{{this.content}}</p>
            </blockquote>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</script>

<script id="new-tip-template" type="text/x-handlebars-template">
  <form class="new_tip" id="new_tip" action="/plants/{{id}}/tips" accept-charset="UTF-8" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-group">
    <label for="tip_content">Content</label>
    <textarea class="form-control" name="tip[content]" id="tip_content"></textarea>
    </div>

    <input type="submit" name="commit" value="Create Tip" class="btn btn-success" data-disable-with="Create Tip">
  </form>
  <br>
</script>
