<div class="row" id="plants">
</div>
<div class="row" id="button">
  <button class="btn btn-success" id="js-more-plants">More Plants</button>
</div>
<div id="overlay"></div>
<%= render 'layouts/plant_details' %>
<%= render 'layouts/tip_details' %>

<script type="text/javascript">
  $(function() {
    attachPlantListeners();
    attachTipListeners();
    loadPlantCards();
  });
</script>

<script id="plant-card-template" type="text/x-handlebars-template">
    <div class="col-sm-4"><div class="card"><div class="card-image">;
    <img src="${randomPhoto}" class="img-responsive">;
    <span class="card-title"><h3>{{name}} • {{plantScore}}</h3>;
    <i class="fa fa-info"></i>;
    <a href="/plants/${{id}}" class="plant-details">View Details</a>;
    <i class="fa fa-pencil-square-o text-xs-right"></i>;
    <a href="/plants/${{id}}" class="tip-details">Leave Tip</a>;
    </span></div></div></div>;
</script>
