<p>Plant Nanny was created to help people manage their indoor plants. After killing my plants each year, every year and countless trips to the greenhouse to replace said plants, I've realized that there should be a resource like Plant Nanny.</p>

<p>Plant Nanny will allow you to create a profile, add plants to that profile, and also add tips to those plants that may help other users grow that same plant.</p>

<p>Hope you enjoy it, and hope all your plants stay alive!</p>
