<div class="jumbotron">
  <h1>Welcome to Plant Nanny!</h1>
  <p>Plant Nanny helps with managing indoor plants. Some indoor plants require sunlight you may not have, watering you don't have time for, or difficulty you just plain don't care to challenge. Plant Nanny aims to weed out the hardest plants to grow indoors and provide grounds for users to leave tips about plants with which they've had success.</p>
  <%= link_to "Learn More", about_path, class: "btn btn-primary btn-lg" %>
</div>
