<h4><i class="fa fa-plus"><%= link_to "Add a New Plant", new_plant_path %></i></h4>
<div class="row">
  <% current_user.plants.each do |plant| %>
    <%= render partial: 'plants/list_plants', locals: {plant: plant} %>
  <% end %>
</div>

<!-- <h4><i class="fa fa-plus"><%= link_to "Add a New Tip", new_tip_path %></i></h4>
<ul style="list-style: none;">
  <% current_user.tips.each do |tip| %>
      <%= render partial: 'tips/list_tips', locals: {tip: tip} %>
  <% end %>
</ul> -->
