<h4><i class="fa fa-plus"><%= link_to "Add a New Plant", new_plant_path %></i></h4>
<div class="row">
  <% @myplants.each do |plant| %>
    <%= render partial: 'plants/list_plants', locals: {plant: plant} %>
  <% end %>
</div>
