<nav class="top-bar" data-topbar role="navigation" data-option="sticky_on">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Plant Nanny</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <li><a href="#">See All My Plants</a></li>
    <li class="has-dropdown">
      <a href="#">+</a>
      <ul class="dropdown">
        <li><a href="#">Add New Plant</a></li>
        <li><a href="#">Add New Tip</a></li>
      </ul>
    </li>
  </ul>
</nav>
