<div class="row" id="plant-details">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button id="js-previous" class="btn btn-success" data-id="">Previous</button>
        <button id="js-next" class="btn btn-success" data-id="">Next</button>
        <h1 id="plant-name"></h1>
      </div>
      <div class="panel-body">

      </div>
      <div class="panel-heading">
        <h4>Statistics</h4>
      </div>
      <div class="panel-body">
        <div class="col-xs-3">
          <i class="fa fa-line-chart big-icon"></i>
        </div>
        <div class="col-xs-3">
          <i class="fa fa-sun-o big-icon"></i>
        </div>
        <div class="col-xs-3">
          <i class="fa fa-tint big-icon"></i>
        </div>
        <div class="col-xs-3">
          <i class="fa fa-clock-o big-icon"></i>
        </div>
      </div>

      <div class="panel-heading">
        <h4>Fun Fact</h4>
      </div>
      <div class="panel-body" id="plant-fun-fact">
      </div>

      <div class="panel-heading">
        <h4><i class="fa fa-pencil-square-o text-xs-right"></i>Leave a Tip</h4>
      </div>
      <div class="panel-body" id="plant-tips">
      </div>
    </div>
  </div>
</div>
