<div class="row" id="tip-details">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 id="tip-details-title"></h4>
      </div>
      <div class="panel-body" id="plant-tips">
      </div>
    </div>
  </div>
</div>
